<a href="https://colab.research.google.com/github/vafiyanaznin/business-analytics-along-with-python/blob/main/sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df=pd.read_csv("/content/Supermarket_sales.csv")
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [6]:
df.groupby("Unitprice").max()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Unitprice,,,,,,,,,,,,,,,,,
10.08,945,333-23-2632,A,Yangon,Member,Male,Health and beauty,7,3.5280,74.0880,3/28/2019,20:14,Cash,70.56,4.761905,3.5280,4.2
10.13,573,239-48-4278,A,Yangon,Member,Male,Food and beverages,7,3.5455,74.4555,03-10-2019,19:35,Ewallet,70.91,4.761905,3.5455,8.3
10.16,785,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,5,2.5400,53.3400,2/24/2019,13:08,Ewallet,50.80,4.761905,2.5400,4.1
10.17,823,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,1,0.5085,10.6785,02-07-2019,14:15,Cash,10.17,4.761905,0.5085,5.9
10.18,882,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,8,4.0720,85.5120,3/30/2019,12:51,Credit card,81.44,4.761905,4.0720,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99.82,942,702-83-5291,C,Naypyitaw,Normal,Male,Fashion accessories,9,44.9190,943.2990,3/27/2019,18:09,Credit card,898.38,4.761905,44.9190,6.7
99.83,284,667-92-0055,A,Yangon,Member,Male,Health and beauty,6,29.9490,628.9290,03-04-2019,15:02,Ewallet,598.98,4.761905,29.9490,8.5
99.89,495,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,2,9.9890,209.7690,2/26/2019,11:48,Ewallet,199.78,4.761905,9.9890,7.1
99.92,931,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,6,29.9760,629.4960,3/24/2019,13:33,Ewallet,599.52,4.761905,29.9760,7.1
99.96,984,219-22-9386,C,Naypyitaw,Normal,Male,Sports and travel,9,44.9820,944.6220,1/23/2019,17:26,Credit card,899.64,4.761905,44.9820,6.1

In [7]:
df.groupby("Unitprice").min()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Unitprice,,,,,,,,,,,,,,,,,
10.08,945,333-23-2632,A,Yangon,Member,Male,Health and beauty,7,3.5280,74.0880,3/28/2019,20:14,Cash,70.56,4.761905,3.5280,4.2
10.13,573,239-48-4278,A,Yangon,Member,Male,Food and beverages,7,3.5455,74.4555,03-10-2019,19:35,Ewallet,70.91,4.761905,3.5455,8.3
10.16,785,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,5,2.5400,53.3400,2/24/2019,13:08,Ewallet,50.80,4.761905,2.5400,4.1
10.17,823,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,1,0.5085,10.6785,02-07-2019,14:15,Cash,10.17,4.761905,0.5085,5.9
10.18,882,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,8,4.0720,85.5120,3/30/2019,12:51,Credit card,81.44,4.761905,4.0720,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99.82,301,446-47-6729,C,Naypyitaw,Member,Male,Fashion accessories,2,9.9820,209.6220,01-02-2019,10:43,Cash,199.64,4.761905,9.9820,6.6
99.83,284,667-92-0055,A,Yangon,Member,Male,Health and beauty,6,29.9490,628.9290,03-04-2019,15:02,Ewallet,598.98,4.761905,29.9490,8.5
99.89,495,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,2,9.9890,209.7690,2/26/2019,11:48,Ewallet,199.78,4.761905,9.9890,7.1
99.92,931,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,6,29.9760,629.4960,3/24/2019,13:33,Ewallet,599.52,4.761905,29.9760,7.1
99.96,123,148-41-7930,B,Mandalay,Member,Male,Health and beauty,7,34.9860,734.7060,03-09-2019,10:33,Cash,699.72,4.761905,34.9860,4.2

In [8]:
df.groupby("Quantity").mean()

,No,Unitprice,Tax,Total,cogs,gross_margin_percentage,gross_iincome,Rating
Quantity,,,,,,,,
1,541.839286,54.781875,2.739094,57.520969,54.781875,4.761905,2.739094,7.001786
2,525.131868,57.534286,5.753429,120.822000,115.068571,4.761905,5.753429,6.860440
3,544.600000,56.725556,8.508833,178.685500,170.176667,4.761905,8.508833,7.035556
4,499.633028,55.150550,11.030110,231.632312,220.602202,4.761905,11.030110,7.001835
5,466.215686,50.516176,12.629044,265.209926,252.580882,4.761905,12.629044,7.101961
6,463.357143,55.806939,16.742082,351.583714,334.841633,4.761905,16.742082,6.996939
7,521.274510,58.242843,20.384995,428.084897,407.699902,4.761905,20.384995,6.922549
8,492.882353,56.465412,22.586165,474.309459,451.723294,4.761905,22.586165,7.051765
9,456.945652,56.111630,25.250234,530.254908,505.004674,4.761905,25.250234,6.968478
10,491.478992,55.965546,27.982773,587.638235,559.655462,4.761905,27.982773,6.815966

In [9]:
df.groupby("Quantity").min()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Quantity,,,,,,,,,,,,,,,,,
1,27,151-33-7434,A,Mandalay,Member,Female,Electronic accessories,10.17,0.5085,10.6785,01-02-2019,10:02,Cash,10.17,4.761905,0.5085,4.0
2,9,101-81-4070,A,Mandalay,Member,Female,Electronic accessories,12.03,1.2030,25.2630,01-01-2019,10:00,Cash,24.06,4.761905,1.2030,4.1
3,10,124-31-1458,A,Mandalay,Member,Female,Electronic accessories,10.59,1.5885,33.3585,01-04-2019,10:05,Cash,31.77,4.761905,1.5885,4.0
4,11,110-48-7033,A,Mandalay,Member,Female,Electronic accessories,13.78,2.7560,57.8760,01-01-2019,10:02,Cash,55.12,4.761905,2.7560,4.0
5,2,102-06-2002,A,Mandalay,Member,Female,Electronic accessories,10.16,2.5400,53.3400,01-03-2019,10:08,Cash,50.80,4.761905,2.5400,4.1
6,7,109-28-2512,A,Mandalay,Member,Female,Electronic accessories,11.43,3.4290,72.0090,01-01-2019,10:01,Cash,68.58,4.761905,3.4290,4.0
7,1,101-17-6199,A,Mandalay,Member,Female,Electronic accessories,10.08,3.5280,74.0880,01-05-2019,10:00,Cash,70.56,4.761905,3.5280,4.0
8,4,114-35-5271,A,Mandalay,Member,Female,Electronic accessories,10.18,4.0720,85.5120,01-01-2019,10:00,Cash,81.44,4.761905,4.0720,4.0
9,30,122-61-9553,A,Mandalay,Member,Female,Electronic accessories,11.28,5.0760,106.5960,01-01-2019,10:26,Cash,101.52,4.761905,5.0760,4.0
10,8,137-63-5492,A,Mandalay,Member,Female,Electronic accessories,10.96,5.4800,115.0800,01-01-2019,10:04,Cash,109.60,4.761905,5.4800,4.2

In [12]:
df.groupby("Quantity").max()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Quantity,,,,,,,,,,,,,,,,,
1,999,896-34-0956,C,Yangon,Normal,Male,Sports and travel,99.69,4.9845,104.6745,3/26/2019,20:47,Ewallet,99.69,4.761905,4.9845,9.9
2,993,883-69-1285,C,Yangon,Normal,Male,Sports and travel,99.89,9.9890,209.7690,3/30/2019,20:46,Ewallet,199.78,4.761905,9.9890,9.8
3,974,895-66-0685,C,Yangon,Normal,Male,Sports and travel,99.70,14.9550,314.0550,3/30/2019,20:59,Ewallet,299.10,4.761905,14.9550,10.0
4,982,889-04-9723,C,Yangon,Normal,Male,Sports and travel,99.42,19.8840,417.5640,3/29/2019,20:50,Ewallet,397.68,4.761905,19.8840,9.8
5,991,892-05-6689,C,Yangon,Normal,Male,Sports and travel,99.78,24.9450,523.8450,3/30/2019,20:59,Ewallet,498.90,4.761905,24.9450,9.9
6,978,891-01-7034,C,Yangon,Normal,Male,Sports and travel,99.92,29.9760,629.4960,3/30/2019,20:54,Ewallet,599.52,4.761905,29.9760,10.0
7,1000,891-58-8335,C,Yangon,Normal,Male,Sports and travel,99.96,34.9860,734.7060,3/30/2019,20:52,Ewallet,699.72,4.761905,34.9860,9.9
8,990,894-41-5205,C,Yangon,Normal,Male,Sports and travel,99.56,39.8240,836.3040,3/30/2019,20:54,Ewallet,796.48,4.761905,39.8240,9.9
9,983,898-04-2717,C,Yangon,Normal,Male,Sports and travel,99.96,44.9820,944.6220,3/30/2019,20:51,Ewallet,899.64,4.761905,44.9820,10.0
10,997,884-80-6021,C,Yangon,Normal,Male,Sports and travel,99.30,49.6500,1042.6500,3/29/2019,20:55,Ewallet,993.00,4.761905,49.6500,10.0

In [15]:
df.loc[df["Productline"] == "Health and beauty"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,01-10-2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,03-11-2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,984,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
986,987,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42,Ewallet,29.52,4.761905,1.4760,4.3
987,988,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,01-03-2019,19:08,Credit card,496.00,4.761905,24.8000,6.2
989,990,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,602.96,4.761905,30.1480,8.4
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2

In [16]:
df.groupby("Productline").mean()

,No,Unitprice,Quantity,Tax,Total,cogs,gross_margin_percentage,gross_iincome,Rating
Productline,,,,,,,,,
Electronic accessories,515.758824,53.551588,5.711765,15.220597,319.632538,304.411941,4.761905,15.220597,6.924706
Fashion accessories,508.365169,57.153652,5.067416,14.528062,305.089298,290.561236,4.761905,14.528062,7.029213
Food and beverages,506.873563,56.008851,5.471264,15.365310,322.671517,307.306207,4.761905,15.365310,7.113218
Health and beauty,495.532895,54.854474,5.618421,15.411572,323.643020,308.231447,4.761905,15.411572,7.003289
Home and lifestyle,497.087500,55.316937,5.693750,16.030331,336.636956,320.606625,4.761905,16.030331,6.837500
Sports and travel,477.596386,56.993253,5.542169,15.812630,332.065220,316.252590,4.761905,15.812630,6.916265

In [17]:
df.groupby("Productline").min()

,No,InvoiceID,Branch,City,Customertype,Gender,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Productline,,,,,,,,,,,,,,,,,
Electronic accessories,2,114-35-5271,A,Mandalay,Member,Female,10.56,1,1.2725,26.7225,01-01-2019,10:02,Cash,25.45,4.761905,1.2725,4.0
Fashion accessories,11,105-10-6182,A,Mandalay,Member,Female,10.18,1,0.6045,12.6945,01-01-2019,10:00,Cash,12.09,4.761905,0.6045,4.0
Food and beverages,10,101-17-6199,A,Mandalay,Member,Female,10.13,1,1.0790,22.6590,01-01-2019,10:00,Cash,21.58,4.761905,1.0790,4.0
Health and beauty,1,101-81-4070,A,Mandalay,Member,Female,10.08,1,0.8875,18.6375,01-01-2019,10:05,Cash,17.75,4.761905,0.8875,4.0
Home and lifestyle,3,106-35-6779,A,Mandalay,Member,Female,10.53,1,0.6990,14.6790,01-01-2019,10:09,Cash,13.98,4.761905,0.6990,4.1
Sports and travel,5,102-06-2002,A,Mandalay,Member,Female,10.17,1,0.5085,10.6785,01-01-2019,10:01,Cash,10.17,4.761905,0.5085,4.0

In [18]:
df.groupby("Productline").max()

,No,InvoiceID,Branch,City,Customertype,Gender,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Productline,,,,,,,,,,,,,,,,,
Electronic accessories,995,891-01-7034,C,Yangon,Normal,Male,99.73,10,44.8785,942.4485,3/30/2019,20:59,Ewallet,897.57,4.761905,44.8785,10.0
Fashion accessories,1000,898-04-2717,C,Yangon,Normal,Male,99.89,10,49.6500,1042.6500,3/30/2019,20:54,Ewallet,993.00,4.761905,49.6500,9.9
Food and beverages,998,895-66-0685,C,Yangon,Normal,Male,99.79,10,49.2600,1034.4600,3/30/2019,20:55,Ewallet,985.20,4.761905,49.2600,9.9
Health and beauty,996,885-17-6250,C,Yangon,Normal,Male,99.96,10,45.2500,950.2500,3/30/2019,20:44,Ewallet,905.00,4.761905,45.2500,10.0
Home and lifestyle,999,892-05-6689,C,Yangon,Normal,Male,99.92,10,48.7500,1023.7500,3/30/2019,20:59,Ewallet,975.00,4.761905,48.7500,9.9
Sports and travel,992,891-58-8335,C,Yangon,Normal,Male,99.96,10,47.7200,1002.1200,3/30/2019,20:34,Ewallet,954.40,4.761905,47.7200,10.0

In [19]:
df.groupby("Productline").Unitprice.min()

Productline
Electronic accessories    10.56
Fashion accessories       10.18
Food and beverages        10.13
Health and beauty         10.08
Home and lifestyle        10.53
Sports and travel         10.17
Name: Unitprice, dtype: float64

In [20]:
df.groupby("Productline").Unitprice.max()

Productline
Electronic accessories    99.73
Fashion accessories       99.89
Food and beverages        99.79
Health and beauty         99.96
Home and lifestyle        99.92
Sports and travel         99.96
Name: Unitprice, dtype: float64

In [22]:
df.groupby("Productline").Unitprice.mean()

Productline
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unitprice, dtype: float64

In [23]:
df.groupby("Productline").Quantity.min()

Productline
Electronic accessories    1
Fashion accessories       1
Food and beverages        1
Health and beauty         1
Home and lifestyle        1
Sports and travel         1
Name: Quantity, dtype: int64

In [24]:
df.groupby("Productline").Quantity.max()

Productline
Electronic accessories    10
Fashion accessories       10
Food and beverages        10
Health and beauty         10
Home and lifestyle        10
Sports and travel         10
Name: Quantity, dtype: int64

In [25]:
df.groupby("Productline").Quantity.mean()

Productline
Electronic accessories    5.711765
Fashion accessories       5.067416
Food and beverages        5.471264
Health and beauty         5.618421
Home and lifestyle        5.693750
Sports and travel         5.542169
Name: Quantity, dtype: float64

In [26]:
df.loc[df["Productline"]== "Health and beauty"].Quantity.min()

1

In [27]:
df.loc[df["Productline"]== "Health and beauty"].Quantity.max()

10

In [28]:
df.loc[df["Productline"]== "Health and beauty"].Unitprice.max()

99.96

In [29]:
df.loc[df["Productline"]== "Health and beauty"].Unitprice.min()

10.08

In [30]:
df.loc[df["Productline"]== "Health and beauty"].Unitprice.max()

99.96

In [31]:
df.loc[df["Productline"]== "Health and beauty"].Unitprice.mean()

54.85447368421053

In [32]:
df.loc[df["Productline"]== "Electronic accessories"].Quantity.mean()

5.711764705882353

In [33]:
df.loc[df["Productline"]== "Electronic accessories"].Quantity.max()

10

In [34]:
df.loc[df["Productline"]== "Electronic accessories"].Quantity.min()

1

In [35]:
df.loc[df["Productline"]== "Health and beauty"].Unitprice.max()<df.loc[df["Productline"]== "Health and beauty"].Unitprice.min()

False

In [51]:
df.loc[(df['Productline'] == "Health and beauty") & (df['Gender'] == "Male")].Quantity.count()

88

In [52]:
df.loc[(df['Productline'] == "Fashion accessories") & (df['Gender'] == "Female")].Quantity.count()

96

In [55]:
df.loc[(df['Productline'] == "Fashion accessories") & (df['Productline'] == "Sports and travel") & (df['Gender'] == "Female")].Quantity.count()

0